@font-face {
    font-family: "Sans";
    src: url("../fonts/sans/Atkinson-Hyperlegible-Regular.woff2") format("woff2"),
        url("../fonts/sans/Atkinson-Hyperlegible-Regular.woff") format("woff");
}

@font-face {
    font-family: "Sans Bold";
    src: url("../fonts/sans/Atkinson-Hyperlegible-Bold.woff2") format("woff2"),
        url("../fonts/sans/Atkinson-Hyperlegible-Bold.woff") format("woff");
}

@font-face {
    font-family: "Serif";
    src: url("../fonts/serif/Merriweather-Regular.woff2") format("woff2"),
        url("../fonts/serif/Merriweather-Regular.woff") format("woff");
}

@font-face {
    font-family: "Mono";
    src: url("../fonts/mono/WOFF2/IBMPlexMono-Regular.woff2") format("woff2"),
        url("../fonts/mono/WOFF/IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
    font-family: "Mono Light";
    src: url("../fonts/mono/WOFF2/IBMPlexMono-Light.woff2") format("woff2"),
        url("../fonts/mono/WOFF/IBMPlexMono-Light.woff") format("woff");
}

@font-face {
    font-family: "Mono Extra Light";
    src: url("../fonts/mono/WOFF2/IBMPlexMono-ExtraLight.woff2") format("woff2"),
        url("../fonts/mono/WOFF/IBMPlexMono-ExtraLight.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
  scroll-padding-top: 8rem;
}

body {
    margin: 0;
    font-family: 'Sans', Helvetica, Arial, sans-serif;
}

.homeBody {
    background-color: #333;
}

.homeBody header {
    background-color: #333;
}

.homeBody h1,
.homeBody h2,
.homeBody h3,
.homeBody h4,
.homeBody h5,
.homeBody h6 {
    color: #86D58D !important;
}

.homeBody .intro p {
    font-family: 'Mono', monospace;
    color: #86D58D !important;
    margin: .5rem 0;
}

.homeBody .intro img {
    width: 30%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 550px;
}

.homeBody .intro h2 {
    font-family: 'Mono Extra Light', monospace;
}

.homeBody .btn {
    border-color: rgba(255, 255, 255, .3);
    font-family: 'Mono', monospace;
    color: #86D58D;
}

.homeBody .primaryBtn {
    background-color: #86D58D;
    color: #333;
}

.homeBody a,
.homeBody p {
    color: #fff;
}

.homeBody .card.quote .description p+p {
    color: #86D58D;
    font-size: .925rem;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50vw;
    margin-right: .5rem !important;
}

.author {
    width: 300px;
    height: 300px;
    border-radius: 50vw;
}

.quote {
    font-family: 'Serif', serif;
    flex-direction: row !important;
    max-width: 640px;
    width: 90%;
    align-items: start !important;
}

.quote p {
    line-height: 1.7;
    font-size: 1rem;
    text-align: left;
}

.quote .avatar {
    margin-right: 1.5rem;
}

.quote p:first-of-type {
    margin-top: 0;
}

.snippetQuotes .avatar {
    width: 100px;
    height: 100px;
    margin: 0 0 1rem 0;
}

.btn {
    font-size: .875rem;
    padding: .75rem 1rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
}

.btnLrg {
    font-size: 1.25rem;
    padding: 1.125rem 1.5rem;
}

.btnGrp {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.btnGrp .btn:first-of-type {
    margin-right: .5rem;
}

.primaryBtn {
    background-color: #333;
    color: #fff;
    border: none;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
}

.wrapper.reviews {
    align-items: center;
}

.highlights {
    flex-direction: column;
}

.highlights p {
    font-size: 1.125rem;
}

.highlights h3 {
    width: fit-content;
    align-self: center;
    margin-bottom: 1rem;
}

p,
li {
    font-size: 1.125rem;
    line-height: 1.5;
    max-width: 640px;
    width: 100%;
}

a {}

ul {
    margin: 0;
    padding: 0 0 0 1rem;
    max-width: 640px;
    width: 100%;
}

ul li {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-family: 'Mono Light', monospace;
    max-width: 640px;
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: #333;
}

h3 {
    margin-top: 3.5rem;
}

h4,
h5,
h6 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 3.5rem;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.875rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 640px;
}

code {
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: .875rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    color: rgba(0, 0, 0, 0.85);
    border-radius: .25rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:not(.intro) {
    margin-bottom: 3rem;
}

.cipher-title {
    opacity: 0;
    transition: opacity 1s ease;
}

.cipher-title.active {
    opacity: 1;
}

.cipher-title-container {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

/*HEADER*/

header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
}

header h1 {
    width: fit-content;
    font-size: 1rem;
}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 0 0 2rem;
    list-style: none;
    width: auto;
}

nav ul li a {
    font-size: .875rem;
    text-decoration: none;
}

nav .btn {
    margin: 0 0 0 2rem;
}

/*INTRO*/

.intro {
    height: 100vh;
}

.secondaryIntro {
    height: auto;
    padding: 13rem 0 10rem 0;
}

#reading-time {
    font-size: .875rem;
    margin-bottom: 1rem;
    color: #595959;
}

.intro h2 {
    max-width: 65%;
}

.intro h2+p {
    font-size: 1rem;
    font-family: 'Serif', serif;
    line-height: 1.6;
    margin: 0 0 .5rem 0;
}

.intro h2+p+p {
    font-size: .875rem;
    margin-bottom: 0;
}

.intro .btn {
    width: fit-content;
}

.pagination {
    padding: 3rem 0;
}

.pagination a {
    font-size: .875rem;
    padding: .875rem 1rem .75rem 1rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

.contentRow {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contentRow h3 {
    width: 100%;
    max-width: 100%;
}

.contentRow .wrapper {
    display: flex;
    flex-direction: row;
}

.contentRow .quote p {
    line-height: 1.5;
    font-size: 1rem;
}

.eventInfo {
    background-color: rgba(255, 255, 255, .1);
    width: 90%;
    margin: 0 auto;
    max-width: 640px;
    border-radius: .5rem;
    padding: 1rem;
}

.eventInfo h4 {
    margin: .75rem 0 1.75rem 0 !important;
    line-height: 1.5;
}

.eventInfo li {
    font-size: 1rem !important;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    align-items: center;
}

.card h3 {
    margin-top: 0;
    font-size: 2rem;
}

.card .description {
    width: 50%;
    padding-right: 2rem;
}

.card .description p {
    margin-bottom: 0;
}

.card.featured {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.videoGrp {
    flex: 1 0 0;
}

.purchaseOptions .description p {
    margin-bottom: 1.5rem;
}

.purchaseOptions .wrapper {
    justify-content: bottom;
}

.purchaseOptions .description img {
    max-width: 10rem;
}

.contentRow .card {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.card.featured .description {
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description.flip {
    order: 2;
    padding-left: 2rem;
}

.card svg {
    width: 50%;
    border-radius: .25rem;
}

.card.quote svg {
    margin-bottom: 1rem;
}

.card.quote .description p+p {
    font-size: .875rem;
    font-family: 'Sans', sans-serif;
    display: flex;
    align-items: center;
}

.card.quote .description p+img {
    margin-right: 0;
} 

.about .btn {
    margin-top: 2rem;
}

.about p {
    text-align: left;
}

.events {
    color: #ffffff;
    text-align: left;
}

.events ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.events ul li {
    margin-bottom: 1.5rem;

}
.events .event-meta {
    color: #86D58D;
    font-family: monospace;
    font-size: .75rem;
    margin-bottom: .25rem;
    display: block;
}

.toc .wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 2.5rem 2rem;
    color: white;
    border-radius: .5rem;
    margin: 0 1.5rem;
}

.toc h3 {
    margin-top: 0;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Serif', serif;
    font-weight: initial;
}

.toc ul li {
    font-size: .875rem;
}

.strong {
    font-weight: bold;
}

.toc .strong {
    font-size: 1rem;
    font-weight: initial;
    font-family: 'Serif', serif;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    font-size: .75rem;
}

.show {
    display: inherit !important;
}

.trunc {
    position: relative;
}

.pagination a[href="https://nostarch.com/hacks-leaks-and-revelations"] {
    background-color: #333;
    color: #fff;
}

.fade {
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    left: 0;
}

.video .wrapper h3 {
    align-self: center;
    width: fit-content;
}

p+.strong {
    margin-bottom: 0;
}

.videoGrp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* This adds space between the cards. Adjust as needed. */
}

.card {
    flex: 1;
    padding: 10px; /* This adds some space inside the cards around the iframes. Adjust as needed. */
}

.card iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Maintain the aspect ratio of 16:9 for the videos */
}

@media only screen and (max-width: 1280px) {
    .homeBody .intro img {
        width: 35%;
        right: 0;
    }

    h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 960px) {

    header nav ul {
        display: none;
    }

    header nav ul li {
        margin: 1rem 0;
    }

    header nav ul li:first-of-type {
        margin: 0 0 1rem 0;
    }

    header nav ul li:last-of-type {
        margin: 1rem 0 0 0;
    }

    .btnIcon {
        background-image: url('../images/lm-icon-menu.png');
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1rem;
        cursor: pointer;
    }

    .homeBody .btnIcon {
        background-image: url('../images/dm-icon-menu.png');
    }

    .homeBody header nav ul {
        flex-direction: column;
        position: absolute;
        top: 72px;
        width: max-content;
        z-index: 1;
        padding: 1rem 1.5rem;
        align-items: flex-start;
        border-radius: .25rem;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 24px -12px rgba(0, 0, 0, 0.15);
    }

    .mobileNav {
        display: flex;
        align-self: center;
    }

    header nav ul {
        flex-direction: column;
        position: absolute;
        top: 72px;
        width: max-content;
        z-index: 1;
        padding: 1rem 1.5rem;
        align-items: flex-start;
        border-radius: .25rem;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 24px -12px rgba(0, 0, 0, 0.15);
    }

    header nav ul li a.wrapper {
        display: flex;
        width: 100%;
    }

    nav .btn:last-of-type {
        margin-right: 0;
    }

    nav ul .btn {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    header nav .btn {
        margin: var(--spacing-base) var(--spacing-medium);
        display: inline-flex !important;
    }

    header nav ul li a.wrapper {
        display: flex;
    }

    .intro h2 {
        max-width: 100%;
    }

    .homeBody .intro {
        height: 100vh;
        background-size: 33%;
    }

    .homeBody .intro img {
        width: 40%;
    }

    .homeBody .intro h2,
    .intro p {
        max-width: 50%;
    }

    h2 {
        font-size: 2.75rem;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2.5rem;
    }

    .description.flip {
        order: 0;
        padding-left: 0;
    }

    .card .description {
        width: 100%;
        padding-right: 0;
    }

    .card svg {
        width: 100%;
    }

    .card {
        flex-direction: column;
    }

    .contentRow .wrapper {
        flex-direction: column;
    }

    .contentRow .card {
        padding: 1.5rem;
    }

    .homeBody header nav ul {
        background-color: rgba(61, 61, 61, 1);
        right: 3.5rem;
    }

    .purchaseOptions .card {
        padding: 3rem 1.5rem;
    }

    .videoGrp {
        flex-direction: column; /* Stack the flex items vertically */
    }

    .videoGrp .card {
        /* Set to 100% to have each card take the full width of the container */
        width: 100%;
        /* Reset any flex-grow, flex-shrink and flex-basis values */
        flex: none;
        padding: 1rem 0 0 0;
    }

    .videoGrp .card:first-of-type {
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 640px) {
    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.325rem;
    }

    .homeBody .intro h2,
    .intro p {
        max-width: 80%;
    }

    .homeBody .intro h2 {
        max-width: 80%;
    }

    .homeBody .intro {
        height: 140vh;
    }

    .homeBody .intro img {
        width: 50%;
        top: 85vh;
        left: 55%;
        transform: translateX(-50%);
    }

    .homeBody .intro .btnGrp {
        margin-bottom: 50vh;
    }

}

@media only screen and (max-width: 480px) {

    .homeBody .intro h2,
    .intro p {
        max-width: 100%;
    }

    .homeBody .intro h2 {
        max-width: 90%;
    }

    .secondaryIntro {
        padding: 10rem 0 5rem 0;
    }

    .homeBody .intro img {
        width: 75%;
    }

    .intro p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    h2 {
        font-size: 1.875rem;
    }
}

@media only screen and (max-width: 390px) {

    header h1 {
        font-size: .875rem;
    }
}

}